body {
    background-image: url("./pawel-czerwinski-P5065oKc1b0-unsplash.jpg"); 
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

h1 {
    width: 60%;
    margin: 5% auto;
}

main {
    background-color:
    width: 60%;
    margin: 5% auto;
}

article {
    margin: 1% auto;
    width: 60%;
    background:#F1F2EB;
    padding: 2%;
}

article > h3 {
    font-size: 1em;
}


article:hover {
    background-color: #A4C2A5;
}

article:hover > h3 {
    color:#566246;
}