.h1 {
  width: 60%;
margin: 5% auto;
}
.body {
background-color: aquamarine;
}
.main {
background-color: blanchedalmond;
width: 60%;
margin: 5% auto;
}
.main-container {
  height: 100%;
  width: 100%;
  border: 1px solid pink;
}
.blog-container {
  width: 60%;
  height: 100px;
  border: 1px solid pink;
}
