

}
body {
  margin-top: 40pt;
  margin-left:10%;
  margin-right:10%;
  background-color: ivory;
  
}

h1 {
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18 pt;

}
.first {
  background-color: blanchedalmond;
  height: 10%;
  width: 100%;
  padding: 
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}

